/* ELEMENTS */
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (min-width: 768px) {
  .logo {
    gap: 16px;
  }
}

.logo img {
  width: 48px;
  height: 48px;
}

@media (min-width: 768px) {
  .logo img {
    width: 56px;
    height: 56px;
  }
}

@media (min-width: 1024px) {
  .logo img {
    width: 64px;
    height: 64px;
  }
}

h1 {
  font-size: 28px;
  text-transform: uppercase;
  font-family: 'Coiny', sans-serif;
  line-height: 1;
  margin-top: 4px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
    margin-top: 6px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 42px;
  }
}

ul {
  list-style: none;
}

.btn {
  border: none;
  font-family: 'Coiny', sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px 10px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .btn {
    font-size: 16px;
    padding: 14px 24px 12px;
  }
}

@media (min-width: 1024px) {
  .btn {
    font-size: 17px;
    padding: 16px 28px 13px;
  }
}

.btn:hover {
  transform: scale(105%) rotate(-1deg);
}

@media (min-width: 1024px) {
  .btn:hover {
    transform: scale(110%) rotate(-2deg);
  }
}

.btn:active {
  transform: scale(98%);
}

.btn-large {
  font-size: 16px;
  padding: 14px 24px 12px;
}

@media (min-width: 768px) {
  .btn-large {
    font-size: 18px;
    padding: 16px 28px 14px;
  }
}

@media (min-width: 1024px) {
  .btn-large {
    font-size: 20px;
    padding: 20px 32px 17px;
  }
}
