.vote-buttons {
  display: flex;
  gap: 6px;
  align-self: flex-end;
  flex-wrap: wrap;
  flex-shrink: 0;
}

@media (min-width: 1100px) {
  .vote-buttons {
    margin-left: auto;
    gap: 8px;
    align-self: center;
  }
}

.vote-buttons button {
  border: none;
  background-color: #78716c;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

@media (min-width: 1100px) {
  .vote-buttons button {
    font-size: 16px;
    padding: 6px 12px;
  }
}

@media (min-width: 1280px) {
  .vote-buttons button {
    font-size: 18px;
  }
}

.vote-buttons button:hover {
  background-color: #292524;
  transform: translateY(-2px);
}

.vote-buttons button:active {
  transform: translateY(0);
}

.vote-buttons button:disabled {
  background-color: #44403c;
  cursor: not-allowed;
  transform: none;
}