/* MAIN LAYOUT */
#root {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.header {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

@media (min-width: 768px) {
  .header {
    margin-bottom: 40px;
    flex-wrap: nowrap;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (min-width: 1100px) {
  .main {
    grid-template-columns: 240px 1fr;
    gap: 36px;
  }
}

@media (min-width: 1280px) {
  .main {
    grid-template-columns: 250px 1fr;
    gap: 40px;
  }
}

/* Loading text */
.loading-text {
  grid-column: 2;
  place-self: center;
  font-size: 20px;
  color: #a8a29e;
}

@media (min-width: 1100px) {
  .loading-text {
    grid-column: 1;
    font-size: 20px;
  }
}
