* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: 'Sono', sans-serif;
  padding: 16px 24px;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

@media (min-width: 768px) {
  body {
    padding: 24px 40px;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 32px 48px;
  }
}
